@import './common/styles/colors';

body {
  background-color: $bg_color;
  color: $color;
  font-family: 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $hover_color;
  }
}

*::selection {
  background-color: $selection_bg_color  !important;
  color: $selection_color  !important;
}