$bg_color: #d8c6c6;
$item_bg_color: #9faebe;
$hover_item_bg_color: #a3b2c2;
$color: #16181b;
$hover_color: #313942;
$input_bg_color: #e9ecef;
$focus_input_bg_color: #dfe3e7;
$error_color: #9e2330;
$selection_bg_color: $bg_color;
$selection_color: $color;