@import '../../../common/styles/functions';

$card-height: 220px;

.card {
  height: $card-height;
  border: none !important;
}

.title {
  @extend %text-overflow;
}

.tiny_text{
  font-size: 0.8rem;
}
